<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles.css" />
  <title>Granny Writers</title>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
	<img class="logoimg" src="/images/delight.png">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="index.html">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="admin.html">Add Stories<span class="sr-only">(current)</span></a>
			</li>
		</ul>
	</div>
  </nav>

</head>

<body>
  <div id="admin" class="content">
  	<h1>Granny Writers</h1>
	<p>Please add a story! Each story must have a title, story body, and an illustration.</p>
	<div class="heading">
		<div class="add">
			<div class="form">
				<input v-model="title" placeholder="Title">
				<p></p>
				<input class="storybox" v-model="story" placeholder="Post your story here">
				<p><pre></pre></p>
				<input type="file" name="photo" @change="fileChanged" placeholder="Choose Image">
				<button @click="upload">Upload</button>
			</div>
			<div class="upload" v-if="addItem">
				<h2>{{addItem.title}}</h2>
				<img :src="addItem.path" />
				<h3>{{addItem.story}}</h3>
			</div>
		</div>
	       <div class="ghfooter">
		                 <a href="https://github.com/coutnib/cp4.git">GitHub</a>
	       </div>
	       <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.js" integrity="sha256-g+Q8DFAmG5+eyRPSydX0LY4TfjsL11XSDrIGerbbEdA=" crossorigin="anonymous"></script>
  		<script src="/admin.js"></script>
</body>

</html>
