body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background: #FECEA8;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.storybox {
  width: 100%;
  height: 10em;
  text-align: center;
}
.heading {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
/* Header */
.header {
  display: flex;
  padding: 20px 100px 0px 100px;
  background-color: #E84A5F;
  color: #fff;
  text-align: center;
}

.title {
  margin-top: 10px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.title h1, .title h2 {
  margin: 0px;
  text-align: center;
}

.title h1 {
 	text-align: center; 
}
.logoimg {
	max-width: 15.5%;
	height: auto;
}
/* Footer */
.footer {
  height: 50px;
  padding: 20px 100px 0px 100px;
}

.footer a {
  color: #000;
}

/* Content */
.content {
  	text-align: center;
	padding: 0px 100px 0px 100px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
p {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.image h2 {
  font-style: italic;
  font-size: 1em;
  text-align: center;
}

/* Admin */
.heading {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.heading h2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.add, .edit {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.circle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  background: #333;
  color: #fff;
  text-align: center;
}

/* Form */
input, textarea, select, button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  text-align: center;
}

.form {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

/* Uploaded images */
.upload h2 {
  margin: 0px;
  text-align: center;
}

.upload img {
  max-width: 300px;
}

/* Suggestions */
.suggestions {
  width: 200px;
  border: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.suggestion {
  min-height: 20px;
}

.suggestion:hover {
  background-color: #5BDEFF;
  color: #fff;
}

/* Masonry */
html {
  box-sizing: border-box;
  text-align: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.image-gallery {
 
}

.image {
  margin: 0 0 1.5em;
  display: inline-block;
  width: 100%;
}

.image img {
  width: 100%;
}

/* Masonry on large screens 
@media only screen and (min-width: 1024px) {
  .image-gallery {
    column-count: 4;
  }
}

/* Masonry on medium-sized screens 
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .image-gallery {
    column-count: 3;
  }
}

/* Masonry on small screens 
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .image-gallery {
    column-count: 2;
  }
}*/
.illustration{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 20em;
	height: auto;
}
.ghfooter {
	  position: fixed;
	    left: 0;
	      bottom: 0;
	        width: 100%;
		  background-color: #E5E5E5;
		    color: #8D857A;
		      text-align: center;
		        max-height: 5%;
			  font-size: .5em;
			    margin-bottom: 0;
}
/* Menu */
nav.bg-light {
	background-color: #E84A5F !important;
} 
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
	color: #FF847C !important;
}
.navbar-dark .navbar-nav .nav-link {
	color: #fff !important;
}
.nav-item active {
	color: #2A363B !important; 
}
img.navbar-brand {
	max-width: 5.5%;
	height: auto;
}
